@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    --footh4: 'Creepster', cursive;
}

body {
    background-color: #050a0e;
}

.page {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    max-width: 1529px;
    margin: auto;

}

.navigation {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    background: rgb(48, 44, 108);
    background: linear-gradient(138deg, rgba(48, 44, 108, 1) 10%, rgba(15, 11, 84, 0.9708216050091911) 37%, rgba(0, 0, 0, 1) 72%);
}

#org-name {
    font-size: 41px;
    display: inline-block;
    position: relative;
    top: -22px;
    background: url(../Img/fullflag.jpeg);
    background-clip: text;
    background-size: contain;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}



.heading {
    flex-basis: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    color: white;

}

.navlist {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    padding: 10px 5px;
    list-style-type: none;
    /* background-color: #f00; */
}

.left {
    /* background-color: black; */
    /* background: #666976e0; */
}

a {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
a:not(.headline a){
    color: rgb(255, 255, 255);
}

/* left sides buttoms */
.link {
    /* background-color: rgb(59, 54, 54); */
    width: auto;
    padding: 7px 25px;
}

.link:hover {
    color: #050a0e;
    background-color: #06b2e742;
    border: 1px solid black;
    border-radius: 18px;
    box-shadow: -4px 1px 5px red, 3px -2px 5px blue;
}

/* Join us button */

.right {
    /* border: 2px solid white; */
    background-color: #f00;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
    box-sizing: border-box;

}

.right:hover {
    color: black !important;
    background-color: #fff;
}

.right a {
    width: 61.15px;
    display: inline-block;
}

.right:hover>a {
    color: #707070;
}

.content {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* main information */
.new {

    flex-basis: 60%;
    border-right: 1px solid white;
}

.checked {
    color: rgb(0, 101, 225);
}

.data {
    color: white;
    font-size: 20px;
    padding: 82px;
}

.info {
    padding-bottom: 10px;
}

.info::selection {
    background-color: rgb(204, 255, 2);
    color: black;
}

section {
    /* width: 1536px; */
    box-sizing: border-box;
}

.image {
    width: 70%;
    padding: 0 112.55px;
    border-radius: 20px;
}

.head {
    margin: 15px 18%;

}

.head {
    color: rgb(113, 116, 104);
}

.head h2 {
    color: #fff;

}

/* TOP ARICIALS */
.top {
    color: #fff;
    /* background: rgb(251, 251, 255); */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 2%, rgba(2, 0, 36, 1) 9%, rgba(9, 9, 118, 1) 17%, rgba(0, 212, 255, 1) 46%, rgba(9, 9, 118, 1) 78%, rgba(2, 0, 36, 1) 88%, rgba(230, 230, 231, 0) 98%);
    text-align: center;
    margin: 23px 0;
    width: 100%;
    /* w=457px */
    height: 28px;
}

/* headline  */
.topnew {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(30, 21, 47);
    transform: scale(1);
    transition: all 0.5s;
    max-width: 474.267px;
    height: 539.9px;
}

.topnew:hover {
    box-shadow: -11px 4px 9px #0317844d, -10px -1px 29px #e4dbd67a;
    /* box-shadow: -24px 5px 19px #0202094d; */
    /* box-shadow: -24px 5px 19px #05888f70; */
    transform: scale(1.001);
    transition: all 1s;
    top: 19px;
    /* left: -19px; */
}

.head-img {
    width: 18%;
    box-sizing: border-box;
    height: 100%;
    margin-right: 7px;
    width: 120px;

}

#top-img {
    width: 100%;
    height: 100%;
    border: none;
}

.headline.content {
    flex-basis: 75%;
    flex-direction: column;
    border: none;
    font-family: 'Noticia Text', serif;
    padding-right: 115px;
    font-size: 14px;
}

.headline p {
    font-style: italic;
}

#headline {
    box-sizing: border-box;
    border-radius: 5px;
}

.headline {
    margin: 2px 0;
    display: flex;
    height: 70px;
    justify-content: space-around;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 3%, rgba(255, 93, 10, 0) 86%);
}

#headline:hover {
    box-shadow: 0 1px 17px #f00;
    transition: ease-in-out 0.2s;
    transform: scale(1.02);
    cursor: pointer;
}

.footer {
    display: grid;
    background-color: rgba(36, 36, 40, 0.808);
    color: #fff;
    background: #666976e0;
    box-sizing: border-box;
    /* justify-content: space-evenly; */
    align-items: center;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    padding: 10px 0;
}

/* new content */
footer .foot {
    display: flex;
    position: relative;
    background: #0d88ff;

}

.card {
    width: 13rem;
    height: 19rem;
    position: relative;

    left: 13px;
    /* left: -75px; */
    border-radius: 15px;
    box-shadow: -9px 14px 6px #231d1d;

}

.card:hover {
    background: #00000085;
    /* background-color: #2a9a9f; */
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.card-body:hover {}

.left .develop {
    top: -18px;
    left: 12px;
    position: relative;
    color: black;
}

.card,
.card img {
    width: 14rem !important;
}

.card img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    width: 208px;
}

.card-body {
    font-size: 13px;
    padding: 0px 6px;
    font-weight: bolder;
}

.card-body h5 {
    padding: 9px 8px;
    font-size: 16px;
    font-family: monospace;
    margin: 4px -6px 7px -6px;
    font-size: 16px;

    background: #00000052;
}

.btn-primary {
    height: 0px;
    margin: 22px;
    padding: 21px 0px;
    display: block;
    width: 158px;
    display: flex;
    color: #ffffff;
    font-family: 'Rubik Mono One', sans-serif;

    font-size: 13px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #11170955;
    transition: all .2s ease-in-out;
}

.btn-primary:hover {
    background-color: rgba(249, 249, 249, 0.5);
    color: rgb(6, 4, 4);
    cursor: pointer;
    font-family: 'Rubik Mono One', sans-serif;

    transform: scale(1.2);

}

.btn-primary:active {
    background-color: #0d88ff;
}

.t {
    border: 1px solid #ffffff;
    margin: 21px;
    animation: t 4s ease 1 forwards;
}

@keyframes t {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer .left {
    display: flex;
    /* background-color: #333f; */
    /* background: #3e4042; */
    color: white;
    padding: 30px;
    border-right: 1px solid white;
}

/* minimais button */
.close.md.hydrated {
    position: absolute;
    left: 480px;
}

/* skill bars */
.skill h3 {
    text-align: center;
}

.skill .skill-title {
    margin: 5px;
}

.skill {
    /* background: #9567ff; */
    background: #150833;
    list-style: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 499px;
    margin: 1px 1px;
    display: none;
    color: #fff;
    padding: 27px 0px;
    animation: skillin 1s ease 1 normal;
    position: relative;
    left: 1px;
}

@keyframes skillin {
    0% {

        left: -292px;
        opacity: 0;
    }

    50% {

        opacity: 0.2;
    }

    100% {
        left: 1px;
        opacity: 1;
    }
}

.skill li {
    margin: 4px 0px;
    padding: 1px 10px;
}

.skill-bar {
    display: flex;
    flex-wrap: wrap;
    width: 498px;
    height: 154px;
    flex-direction: column;
}

.bar {
    background: #353b48;
    display: block;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}

.bar:hover {

    box-shadow: -5px 9px 20px 0px rgb(255 255 255), -1px 3px 2px 0px rgb(248 239 239);
}

.bar span {
    height: 16px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.html {
    width: 95%;
    animation: html 3s;
}

.css {
    width: 90%;
    animation: css 3s;
}

.js {
    width: 80%;
    animation: js 3s;
}


.php {
    width: 70%;
    animation: php 3s;
}



@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}


@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes reactjs {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}



/* Right side of footer */
.right-footer {
    color: white;
    margin: 20px 0px;

}

.right-side {
    display: grid;
    grid-column-gap: 200px;
    grid-template-columns: auto auto auto;
    /* border: 2px solid red; */
}

.service h4 {
    font-family: var(--footh4);
    text-align: center;
}

ul.footer-list {
    flex-direction: column;
}

.copyright {
    /* flex-direction: column; */
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background-color: rgba(36, 36, 40, 0.808);
    position: relative;
    top: 12px;
}